
@{
    ViewData["Title"] = "Clients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-title-area page-title-style-two">
<div class="container">
<div class="page-title-content">
<h2>Our Clents</h2>
<ul>
<li>
<a href="index.html">
<i class="bx bx-home"></i>
Home
</a>
</li>
<li class="active">Clients</li>
</ul>
</div>
</div>
</div>


<section class="pricing-area pt-100 pb-70">
<div class="container">
<div class="section-title">
<span>Our Clients</span>
<h2>Industries We Serve</h2>
<p>We have provided and are providing security services to various industries and organizations these include: Textile & Garments Corporations, Hospitals / Clinics & Medical Concerns, Engineering Industries / Factories, Educational Institutions, Companies /Banks / Offices, Shopping Malls & Shops, Residence, Showrooms.
</p>
</div>
<div class="row">
    <div class="col-lg-4">
        <img src="~/assets/img/house-1.jpg" style="border-radius: 5px;" alt="" >
        <h4 class="text-center mt-3"><b>Residencies</b></h4>
    </div>
    <div class="col-lg-4">
        <img src="~/assets/img/financial.jpg" style="border-radius: 5px;" alt="" >
        <h4 class="text-center mt-3"><b>COMPANIES / BANKS / OFFICES</b></h4>
    </div>
    <div class="col-lg-4">
        <img src="~/assets/img/school.jpg" style="border-radius: 5px;" alt="" >
        <h4 class="text-center mt-3"><b>EDUCATIONAL INSTITUTIONS</b></h4>
    </div>
</div>
</div>
</section>


<div class="partner-area bg-color ptb-70">
    <div class="container">
    <div class="partner-slider owl-theme owl-carousel">
    <div class="partner-item">
    <a href="#">
    <img src="~/assets/img/partner/partner-1.png" alt="Image">
    </a>
    </div>
    <div class="partner-item">
    <a href="#">
    <img src="~/assets/img/partner/partner-2.png" alt="Image">
    </a>
    </div>
    <div class="partner-item">
    <a href="#">
    <img src="~/assets/img/partner/partner-3.png" alt="Image">
    </a>
    </div>
    <div class="partner-item">
    <a href="#">
    <img src="~/assets/img/partner/partner-4.png" alt="Image">
    </a>
    </div>
    <div class="partner-item">
    <a href="#">
    <img src="~/assets/img/partner/partner-5.png" alt="Image">
    </a>
    </div>
    </div>
    </div>
    </div>
